# Java ignore #########################################################################################################
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Linux ###############################################################################################################
*.swp
*.epoch
*.lck

# Mac OS X ############################################################################################################
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Eclipse ignore ######################################################################################################
.*.md.html
*.log
*.tmp

/.settings/
/**/.settings/
/target/
/**/target/
/.classpath
/**/.classpath
/.project
/**/.project
/.springBeans
/**/.springBeans

# IntelliJ files ######################################################################################################
**/*.iml
**/.idea
**/.gradle

# spring-boot #########################################################################################################
/**/config/*.*
!/**/config/sample-*.*

**/\.idea/
